@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-shadow: 0;
}

html {
    line-height: 1.5;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-bg-color: #F9F7F7;
    --secondary-bg-color: #DBE2EF;
    --accent-bg-color: #3F72AF;
    --font-color: #112D4E;
    --sub-font-color: #1d5798;
}

.main-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

/* sidebar */

nav {
    background-color: var(--accent-bg-color);
    grid-column: 1 / 2;
    color: var(--primary-bg-color);
    padding: 2rem;
    display: grid;
    grid-template: auto auto 3fr / 1fr;
    gap: 3rem;
}


nav ul {
    list-style: none;
    display: grid;
    gap: .5rem;
}

nav ul a {
    color: var(--primary-bg-color);
    text-decoration: none;
    font-weight: 700;
    font-size: clamp(.9rem, .9vw, 1.12rem);
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;
}

nav ul li {
    padding: .5rem 1rem;
}

nav ul li:hover {
    background-color: var(--sub-font-color);
    border-radius: .5rem;
}

.nav-title {
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 1rem;
}

.logo {
    height: 50px;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr fr;
    gap: .2rem;
}

.first-col {
    display: grid;
    grid-template-rows: 2fr 1fr;
    gap: .2rem;
}

.second-col {
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: .2rem;
}

.box {
    background-color: var(--primary-bg-color);
}

h1 {
    font-size: clamp(1rem, 1.6vw, 2rem);
    align-self: center;
}

/* Content */

.container {
    display: grid;
    grid-template-rows: auto 3fr;
    color: var(--font-color);
}

/* Header */

header {
    grid-area: 1 / 1 / 2 / 2;
    background-color: var(--primary-bg-color);
    padding: .5rem 2rem;
    display: grid;
    grid-template: repeat(2, 1fr) / 1fr;
    box-shadow: 0px 3px 3px  rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.header-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-content: center;
}

.search {
    display: grid;
    grid-template-columns: 50px 5fr;
    align-items: center;
}

.search input {
    width: 80%;
    padding: .5rem 1.5rem;
    outline: none;
    border: 1px solid var(--secondary-bg-color);
    background-color: var(--secondary-bg-color);
    border-radius: 2rem;
    font-family: inherit;
    color: var(--font-color);
    font-size: clamp(.8rem, 0.9vw, 1rem);
}

.search input:focus {
    border: 1px solid var(--accent-bg-color);
}

.user-account {
    place-self: end;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

.user-account p {
    font-weight: 700;
    font-size: clamp(.9rem, 1vw, 1.2rem);
}

.header-bottom {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.user-info {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;
}

.user-info img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.name p{
    font-weight: 700;
}

.greeting {
    font-size: .8rem;
}

.account-name {
    font-size: clamp(1rem, 1.1vw, 1.3rem);
}

.buttons {
    display: flex;
    gap: 2.5rem;
    justify-content: end;
}

button {
    padding: .6rem 1.6rem;
    border-radius: 2rem;
    background-color: var(--accent-bg-color);
    color: var(--primary-bg-color);
    border: 1px solid var(--accent-bg-color);
    font-family: inherit;
    font-weight: 700;
    font-size: clamp(.8rem, 15vw, .8rem);
}

button:hover {
    background-color: var(--sub-font-color);
    cursor: pointer;
}




/* Main COntent */

main {
    padding: 1.5rem 1.5rem;
    background-color: var(--secondary-bg-color);
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2rem;
    overflow: auto;
}


.projects {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: 50px 1fr;
    
}

.projects h2,
.main-right h2 {
    font-size: clamp(1.2rem , 1.3vw, 1.5rem);
}

.content {
    display: grid;
    grid-template-rows: repeat(3, minmax(200px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2rem;
}

.content-card {
    background-color: var(--primary-bg-color);
    border-radius: 8px 1rem 1rem 8px;
    padding: 2rem;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.1);
    border-left: 8px solid var(--accent-bg-color);
    display: grid;
    grid-template: auto 1fr auto / 1fr;
    gap: .5rem;
    font-size: clamp(.8rem, 0.9vw, 1rem);
}

.content-icons {
    place-self: end;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
}

.content-icons .fa-regular:hover,
.content-icons .fa-solid:hover {
    cursor: pointer;
}

.main-right {
    grid-area: 1 / 2 / 3 / 3;
    display: grid;
    grid-template:  50px 1fr 50px 1fr / 1fr;
}


.card {
    background-color: var(--primary-bg-color);
    border-radius: 1rem;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

.announcement.card {
    margin-bottom: 2rem;
    display: grid;
    gap: 1rem
}

.announcement.card span {
    font-size: .8rem;
    font-weight: 700;
}

.announcement.card p {
    font-size: .7rem;
}

.first-announcement,
.second-announcement {
    border-bottom: 1px solid darkgray;
}

.first-announcement p,
.second-announcement p {
   margin-bottom: 1rem;
}

.trending.card {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr;
}

.trending-account {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    align-items: center;
}

.trending-account:hover {
    cursor: pointer;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
} 

.content-card p,
.username p + p,
.announcement.card p {
    color: var(--sub-font-color);
}

.nav-icons,
.header-icons,
.content-icons {
    font-size: 1.3rem;
}

.header-icons:hover {
    cursor: pointer;
}
